 * {
     cursor: none !important;
 }
 
 body {
     margin: 0;
     font-family: sans-serif;
 }
 
 .cursor {
     position: fixed;
     width: 1.5em;
     height: 1.5em;
     background-color: black;
     border-radius: 100vw;
     transform-origin: center;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
     pointer-events: none;
     transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1), height 0.5s cubic-bezier(0.25, 1, 0.5, 1);
 }
 
 .cursor.is--active {
     width: 7em;
     height: 2em;
 }
 
 .cursor-marquee {
     width: 100%;
     height: 100%;
     overflow: hidden;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     opacity: 0%;
     transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
 }
 
 .cursor-marquee.is--active {
     opacity: 100%;
 }
 
 @keyframes marquee {
     from {
         transform: translateX(0%);
     }
     to {
         transform: translateX(calc(-100% - 1em));
     }
 }
 
 .cursor-marquee-span {
     font-size: 1em;
     white-space: nowrap;
     margin-right: 1em;
     line-height: 1;
     animation: marquee 3s linear infinite;
 }
 
 .cursor-content {
     position: fixed;
     aspect-ratio: 3/2;
     height: 0px;
     background-color: #eee;
     border-radius: 2em;
     z-index: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     pointer-events: none;
     /* opacity: 0%; */
     overflow: hidden;
     transition: height 0.5s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
 }
 
 .cursor-content.is--active {
     height: 200px;
     /* opacity: 100%; */
 }
 
 span {
     font-size: 2em;
     color: #bbb;
 }
 
 .container {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .link {
     width: 700px;
     height: 300px;
     background-color: #ddd;
     border-radius: 1em;
 }